@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 18px;
  /* background-color: hsl(0, 0%, 98%); */
  background-color: #e4e5f1;
}

.container {
  display: flex;
  width: 100vw;
  height: 230px;
  background-image: url("./images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 25px 0px;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 10px;
}

.mode {
  background-color: transparent;
  border: none;
}
.mode img {
  width: 23px;
  height: 23px;
}

@media (min-width: 480px) {
  .container {
    background-image: url("./images/bg-desktop-light.jpg");
  }
}
.browser {
  width: 90%;
  height: 50px;
  background-color: white;
  border-radius: 8px;
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
}
.browser__create {
  border: none;
  width: 85%;
  height: 40px;
}
.browser__create:hover {
  outline: none;
}
.browser--icon {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, #57ddff, #c058f3);
  margin-inline-end: 5px;
}
.browser--icon img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

figure {
  margin: 0;
}

.task {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  border-radius: 12px;
  position: relative;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.todo {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 2px;
}
.todo__check {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50% !important;
  background-image: linear-gradient(to right bottom, #57ddff, #c058f3);
  align-items: center;
}
.todo__check img {
  margin: 0 auto;
  width: 11px;
  height: 11px;
}
.todo__none {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50% !important;
  background-image: white;
  border: 1px solid black;
  align-items: center;
}
.todo__text {
  width: 83%;
  font-size: 14px;
  padding-left: 10px;
}
.todo__done {
  width: 83%;
  font-size: 14px;
  text-decoration: line-through;
  color: #d2d3db;
  padding-left: 10px;
}
.todo__cross {
  margin-left: 10px;
}

.task :first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.task :last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.result {
  width: 100%;
  height: 40px;
  background-color: #f8f9fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 5;
}
.result p {
  font-size: 16px;
  font-weight: 400;
  color: #9394a5;
}

.create-todo {
  position: fixed;
  bottom: 95px;
  right: 5%;
  z-index: 40;
  width: 55px;
  height: 55px;
  background-image: linear-gradient(to right bottom, #57ddff, #c058f3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 0.5px rgba(0, 0, 0, 0.287);
}
.create-todo img {
  width: 25px;
}

.button_filter {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 50px;
  z-index: 5;
}
.button_filter button {
  color: #9394a5;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: transparent;
}
.button_filter button:hover {
  color: #3a7bfd;
}

.paragraph {
  color: #9394a5;
  font-size: 16px;
  margin: 30px auto 0;
  text-align: center;
}

.create-modal {
  background-color: rgba(32, 35, 41, 0.8);
  position: fixed;
  top: -285px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 35;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-to-create {
  width: 90vw;
  max-width: 500px;
  height: 280px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 0 15px;
}
.form-to-create .form {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.form-to-create .form label {
  text-align: center;
}
.form-to-create .form__entry {
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  margin: 15px 0px;
  height: 120px;
}
.form-to-create .form__entry input {
  width: 90%;
  border: none;
  margin: 10px 0px 0px 10px;
  outline: none;
  font-size: 20px;
}
.form-to-create .buttons {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.form-to-create .buttons__cancel {
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.199);
}
.form-to-create .buttons__create {
  width: 100px;
  background-color: rgba(51, 177, 255, 0.625);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=index.css.map */
